---

---

<footer class="mt-12 border-t border-white/10 glass-panel py-8">
  <div
    class="max-w-[1440px] mx-auto px-6 flex flex-col md:flex-row justify-between items-center gap-4"
  >
    <div class="flex items-center gap-3 opacity-50">
      <span class="material-symbols-outlined">monitor</span>
      <span class="text-xs font-medium tracking-widest uppercase"
        >EEBUS MPC v1.0.0</span
      >
    </div>
    <div class="flex items-center gap-3 opacity-50">
      <span class="material-symbols-outlined">flash_on</span>
      <span class="text-xs font-medium tracking-widest uppercase"
        >EEBUS LPC v1.0.0</span
      >
    </div>
    <!-- <div
      class="flex gap-8 text-xs font-bold text-slate-500 uppercase tracking-widest"
    >
      <a class="hover:text-primary transition-colors" href="#">MPC Strategy</a>
      <a class="hover:text-primary transition-colors" href="#">LPC Protocols</a>
      <a class="hover:text-primary transition-colors" href="#"
        >Security Policy</a
      >
    </div> -->
    <p class="text-xs text-slate-600">
      Made with ❤️ by 
      <a href="https://github.com/fran1215" target="_blank" rel="noopener noreferrer">fran1215</a>. 
      &copy; 2024 EEBUS Initiative e.V. All rights reserved.
    </p>
  </div>
</footer>
